body
{
	width:			805px;
	margin:			10px auto;
	/* background-image:url('/media/images/static/back.jpg'); */
	
	font-family: 'Droid Sans', sans-serif;
	font-size:		medium;
	font-weight:	regular;
	color:			black;
	font-size:     12px;   
}
h1,h2
{
	font-size:		17px;
	font-weight:	bold;
}
p
{
}

#top
{
	
}
#menu
{
 
    font-size:      15px;
    font-weight:    bold;
    color:          #666666;
    border:         1px black solid;
    height:         34px;
    width:          840px;
    
    -webkit-box-shadow: 0px 4px 4px #DDD ;
    -moz-box-shadow: 0px 4px 4px #DDD ;
}
#menu ul
{
    margin-top:         1%; 
    margin-bottom:      1%;
    margin-left:        -28px;
    /*width:         100%;*/
}

#menu li
{
    display:inline;
    margin:        0px 2px;
}
#menu a
{   color:          black;
    text-decoration:none;
}
#menu a:hover
{
    color:          #F7931E;
}
#titreee
{
    margin-top:     10px;	
}
#div_contenu
{
	width:			100%;
	min-height:		600px;
    
    border-left:    1px solid black;
    border-right:    1px solid black;
    margin:          auto;
}
#contenu
{
	width
    list-style-image: url('/media/images/static/puce_style.jpg');	
}

#footer
{
	width:			80%;
	margin:			 auto;
	margin-top:		10px;
	margin-bottom:	10px;
	text-align:		center;
}