.groupe {
	float:left;
	width:100%;
	margin-bottom: 10px;
	min-height: 300px;
}
#groupes {
	width:100%;
	height:100%;
}

.div_nom_groupe {
	background-color: #aa4400;
	color: white;
	max-width: 300px;
	min-height: 30px;
	line-height: 32px;
}

.nom_groupe {
  margin-left: 10px;
}

#groupes_droite,
#groupes_gauche {
	width:50%;
	height:100%;
}


.origine_groupe {
	float: right;
	padding-right: 10px;
	font-style:italic;
	background-color: #aa4400;
	text-align: right;
}