body {
	width: 100%;
	margin: 10px auto;
	font-size: medium;
	font-weight: normal;
  font-family: 'PT Sans', sans-serif;
	color: black;
	font-size: 15px;
}

h1,h2 {
  font-weight: bold;
  font-family: 'Delius', cursive;
}
h1 {
  font-size: 40px;
  border-bottom: 2px solid #F7931E;
  overflow:visible;
  display: inline-block;
}
h2 {
font-size: 30px;
}
.titre {
font-family: 'Delius', cursive;
}
.titre h1 {
	margin-bottom: 25px;
}

p {
	
}

#top {
	margin: auto;
	max-width: 861px;
}
#menu .container-fluid {
	padding: 0px 6px;
}
#menu {
	font-size: 15px;
	font-weight: bold;
	color: #666666;
	border: 1px black solid;
	min-height: 34px;
	
	max-width: 894px;
	margin: auto; 
	padding-top: 5px;
	-webkit-box-shadow : 0px 4px 4px #DDD;
	-moz-box-shadow: 0px 4px 4px #DDD;
	-webkit-box-shadow: 0px 4px 4px #DDD;
	background-color: white;
	border-radius: 0px;
}
#menu .navbar-header {
	max-height:34px;
}
#menu .navbar-header button {
	max-height:30px;
	margin-top: 0px;
	padding-top: 5px;
}
#boutons_menu {
	padding: inherit 0px;
	margin: 0px;
}
#boutons_menu li > a{
	padding	: 0px 2px;
	line-height: 25px;
}
#menu li {
	font-weight: bold;
	margin: 0px 2.5px;
	letter-spacing: 0.5px;
	font-size: larger;
}

#menu a {
	color: black;
	text-decoration: none;
}

a {
	color: #1E8073;
}
a:hover {
	color: #F7931E;
	text-decoration: none;
}
#menu a:hover {
	color: #F7931E;
}

#div_contenu {
	border-bottom: none;
	margin: auto;
	min-height: 500px;
	position: relative;
}

#contenu {
	margin: 15px 37px 0px;
}

#bottom {
	margin: 0px auto;
}

#footer_div {
	float: left;
	background-repeat: repeat-x;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	height: 68px;
}

#footer {
	
	
	margin: 50px auto;
	width: 722px;
	font-size: 12px;
	font-style: normal;
	color: white;
	line-height: 19px;
	text-align: center;
}

#footer_copyright {
	
  background-color: black
}

