.groupe {
float:left;
width:100%;
margin-bottom: 10px;
}
#groupes {
	width:100%;
	height:100%;
}

.div_nom_groupe {
	background-color: #F7AA1E;
	color: white;
	max-width: 300px;
	min-height: 30px;
	line-height: 22px;
}

.div_nom_groupe a:hover {
  color: 	#2152A4;
}

.nom_groupe {
  margin-left: 10px;
}

.origine_groupe {
	float: right;
	padding-right: 10px;
	font-style:italic;
	background-color: #F7AA1E;
	width: 300px;
	text-align: right;
}

#groupes_gauche {
	float: left;
}
#groupes_droite {
  float: left;
}

#groupes_droite,
#groupes_gauche {
  width:50%;
  height:100%;
}