@CHARSET "ISO-8859-1";


.programme_jour {
  text-align: center;
  font-size: xx-large;
  height: 90px;
  line-height: 90px;
}

/* COMMUN */

.programme_jour,
.programme_concert,
.programme_activite {
  background-color: #EDEDED;
}

.programme_concert,
.programme_activite {
  font-size: x-large;
	width: 100%;
	height: 200px;
	margin: 0px;
	position: relative;
}

.programme_evenement_horaire {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: white;
  margin: 0px 10px 2px 0px;
}

.horaire_lieu {
  margin-left: 10px;
  
}
.horaire {
	width: 30%;
	float: left;
}
.lieu {
	float: right;
  margin-right: 10px;
  font-size: smaller;
  margin-right: 5px;
  font-style: oblique;
  color: gray;
  display:inline;
}
.nom_evenement .nom{
  margin: 5px 0px 5px 10px ;
  float: left;
}
.icone_concert,
.icone_activite {
  float: right;
  margin: 5px 10px 5px 0px;
}

/* CONCERT */

.programme_evenement_detail {
  height: 170px;
  margin-bottom: 4px;
}
.concert {
  background-color: #F7AA1E;
}

.programme_evenement_detail a {
}

.image_groupe {
  overflow: hidden;
  height: 142px;
  width: 100%;
}
.icone_concert {
	color: #F7AA1E;
}
/* ACTIVITE */

.activite {
  background-color: #76D4C4;
}
.icone_activite {
  color: #76D4C4;
}

