<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; 
		charset=ISO-8859-1">
		<title>Bienvenue !</title>
	</head>
	<body>
	<div>
		<a href="/"><img src="{% static "festival/images/logo/logoBandaExport.png" %}"/></a>
		<a href="{% url 'festival.views.accueil' %}"><img src="{% static "festival/images/logo/logofestival2011.png" %}"/></a>
	</div>
	<div>
		 <a href=""/"">La Banda Tchitchaaa</a> 
		 <a href="{% url 'festival.views.accueil' %}">Les Fanfar'Folizzz</a> 
	</div>
	   <div id="footer">{% now "d m y" %} <a href="http://tripledash.free.fr/">Forum</a> <a href="{% url 'festival.views.contact' %}">Contactez-nous!</a></div>
	</body>
</html>
