<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;  charset=UTF-8">
		
		{% block css %}
	        <link href="http://fonts.googleapis.com/css?family=Delius"  rel="stylesheet" type="text/css">
			<link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
            <link href="{% static "festival/css/Bootstrap/bootstrap.css" %}" rel="stylesheet" type="text/css"/>
            <link href="{% static "festival/css/Global.css" %}" rel="stylesheet" type="text/css"/>
		{% endblock %}
        
		<style type="text/css">
			#footer_div
			{
				background-image: 			url("{% static "festival/images/footer_x_repeat.jpg" %}");
			}
			#contenu
			{
			    list-style-image: 			url("{% static "festival/images/puce_style.jpg" %}");
			}
		</style>
		
		<title>Les fanfar' folizzz - {% block titre %}Fanfar FolizZz{% endblock %}</title>
	</head>
	<body>
		<div id="main">
			<div id="top">
				<img src="{% static "festival/images/fanfare_banniere.jpg" %}"/>
			</div>
			<div id="menu">
				{% include "festival/_top_menubar.html" %}
			</div>
					<div id="div_contenu">
					    <div id="contenu">
							<div class="titre">
							     <h1>{% block soustitre %}Fanfar FolizZz{% endblock %}</h1>
							</div>
							{% block contenu %}{% endblock %}
						</div>
				</div>
			</div>
			<div id="bottom">
			     <img src="{% static "festival/images/footer_audessus_centrer.jpg" %}"/>
			</div>
			<div id="footer_div">
			     <div id="footer">
                    <span id="footer_copyright">Copyright Fanfar-folizzz 2011! Tous droits reserves! Etc etc!</span>
                </div>
			</div>
		</div>
	</body>
</html>
