 {% load festival_extras %}
 <div class="programme_evenement_horaire concert">
    <div class="horaire_lieu">
        <div class="horaire">{{concert.heure_passage|date:"H:i"}}</div>
        <div class="lieu"></div>
    </div>
</div>
<div class="programme_evenement_detail">
    <div class="nom_evenement">
        <div class="nom">
			<a href="{% url "festival.views.groupe_detail" groupe_id=concert.groupe.id %}" >
			    {{concert.groupe.nom|upper}}
			</a> 
		</div>
		<div class="icone_concert">{% random_music_sign %}</div>
	</div>
	<div class="image_groupe"
         style='background: #eee url("{{ MEDIA_URL }}{{concert.groupe.photo}}") no-repeat scroll center 35%;'>
	</div>
	<!-- ({{concert.lieu}})-->
</div>