 <div class="programme_evenement_horaire activite">
    <div class="horaire_lieu">
        <div class="horaire">{{activite.date|date:"H:i"}}</div>
        <div class="lieu"> {{activite.lieu}}</div>
    </div>
</div>
<div class="programme_evenement_detail">
    <a href="{% url "festival.views.activite_detail" activite_id=activite.id %}" >
	    <div class="nom_evenement">
	        <div class="nom">
					    {{activite.quoi|upper}}
		    </div>
	        <div class="icone_activite">
	        	&#9836;
	        </div>
		</div>
	    <div class="image_groupe" style='background: #eee url("{{ MEDIA_URL }}{{activite.photo}}") no-repeat scroll center 35%;'>
	    </div>
	</a> 
</div>
<div class="activite_footer"></div>
<!-- {{activite.autres_informations}} -->