<div id="boutons_menu" class="titre">
    <ul><li>::</li>
        <li><a href="{% url "festival.views.accueil" %}">Accueil</a></li><li>::</li>
        <li><a href="{% url "festival.views.groupes" %}">Les groupes</a></li><li>::</li>
        <li><a href="{% url "festival.views.programme" %}">Le Programme</a></li><li>::</li>
        <li><a href="{% url "festival.views.medias" %}">Medias</a></li><li>::</li>
        <!-- <li><a href="{% url "festival.views.historique" %}">Precedentes editions</a></li><li>::</li> -->
        <li><a href="{% url "festival.views.infos" %}">Infos pratiques</a></li><li>::</li>
        <li><a href="{% url "festival.views.liens" %}">Liens</a></li><li>::</li>
        <li><a href="{% url "festival.views.sponsors" %}">Partenaires</a></li><li>::</li>
    </ul>
</div>  