{% extends "festival/accueil.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link href="{% static "festival/css/Groupe_detail.css" %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{%block titre %}{{groupe.nom}}{%endblock titre %}

{%block contenu %}
	<div id="groupe_detail">
				<div id="infos_groupe">
					<ul>
						<li>Origine: {{groupe.origine}}</li>
						<li>Style: {{groupe.style}}</li>
					</ul>
					<p>{{groupe.description}}</p>
				</div>
				<div id="illustration_groupe">
					<img
						{% if groupe.photo.width > 350 %}
							width = "350"
						{% endif %}
					src="{{ MEDIA_URL }}{{groupe.photo}}"/>
					
				</div>
				
	</div>
{%endblock contenu %}
