{% extends "festival/__l_simple.html" %}

{% block css %}Groupes.css{%endblock%}

{%block titre %}Les Groupes{%endblock %}

{%block contenu %}
	<div id="groupes">
		{% for groupe in groupes %}
			<div id="groupe{{groupe.id}}" class = "groupe">
			<div class ="div_nom_groupe">
			    <span class="nom_groupe">
                    <a href="{% url "festival.views.groupes" %}{{groupe.id}}/">
                    {{groupe.nom|upper}}
                    </a>
                </span>
                <span class="origine_groupe">
                 {{groupe.origine}}
                </span>
            </div>
			<img
				{% if groupe.photo.width > 150 %}
					width = "300"
				{% endif %}
				 src="{{ MEDIA_URL }}{{groupe.photo}}"/>
				
			</div>
		{% endfor %}
	</div>
{%endblock %}
