{% extends "festival/__l_simple.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link href="{% static "festival/css/Liens.css" %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block titre %}Liens{% endblock titre %}

{% block contenu %} 
	<div id="liens" class="col-lg-offset-2">
		<ul>
		{% for lien in liens %}
		<li id="lien{{lien.id}}">
			<a href="{{ lien.adresse }}" target="_blank">{{ lien.adresse }}</a>
			{{ lien.description|striptags }}
		
		</li>
		{% empty %}
			<li id="lien0">
				Aucun lien pour le moment...
			</li>		
		{% endfor %}
		</ul>
	</div>
{% endblock contenu %}