{% extends "festival/__l_simple.html" %}
{% load festival_extras staticfiles %}

{% block css %}
    {{ block.super }}
    <link href="{% static "festival/css/Media.css" %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{%block titre %}Medias{%endblock titre %}

{%block contenu %}
	<div id = "media">
		<h2>Vidéos</h2>
		<div id="videos_grid" class="row">
			{% for media in medias %}
				{% if media.type == "video" %}
		            <div class= "span5 video">
						{% autoescape off %}
							{{media.code}}
						{% endautoescape %}
						<div class="video_nom">
	                       {{media.nom}}
	                    </div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<h2>Images</h2>
        <div id="images_grid" class="row">
			{% for media in medias %}
				{% if media.type == "image" %}
				    <div class="span2 image">
						<a href = "{{media.fichier.url }}" target= "_blank"><img src="{{ media.fichier|thumbnail }}"/></a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<h2>Autres documents</h2>
		{% for media in medias %}
			{% if media.type == "pdf" %}
                <a href="{{ media.fichier.url }}" target = "_blank"> <img src="{% static "festival/images/pdf_icon_16x16.gif" %}" />{{ media.nom|capfirst }}</a>
			{% endif %}
		{% endfor %}
	</div>
{%endblock contenu %}