{% extends "festival/__l_simple.html" %}
{% load festival_extras staticfiles %}

{% block css %}
    {{ block.super }}
    {% if current_module == "festival" %}
    	<link href="{% static "festival/css/Media.css" %}" rel="stylesheet" type="text/css"/>
    {% elif current_module == "banda" %}
    	<link href="{% static "festival/css/Media.css" %}" rel="stylesheet" type="text/css"/>
    {% endif %}
{% endblock css %}

{%block titre %}
    {% if current_module == "festival" %}
    	Les fanfar'folizz en images!
    {% elif current_module == "banda" %}
		La banda en action!
    {% endif %}
{%endblock titre %}

{%block contenu %}

	<!-- Modal -->
	<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-body">
					<img src="#" class="img-responsive"/>
				</div>
				<div class="modal-footer">
					<p id="modalTitle"></p>
				</div>
			</div>
		</div>
	</div>
	<!-- end Modal -->
	<div class="container row">
		<div id="videos_grid" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
			{% for media in medias %}
				{% if media.type == "video" %}
		            <div class= "col-lg-4 col-md-4 col-sm-12 col-xs-12 video">
						{% autoescape off %}
							{{media.code}}
						{% endautoescape %}
						<div class="video_nom col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                       {{media.nom}}
	                    </div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
        <div id="images_grid" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
			{% for media in medias %}
				{% if media.type == "image" %}
				    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 image">
						<a href = "#imageModal" data-img-url="{{media.fichier.url }}" data-img-title="{{media.nom}}" data-toggle="modal">
							<img src="{{ media.fichier|thumbnail }}" />
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div id="docs_grid" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2>Autres..</h2>
					{% for media in medias %}
						{% if media.type == "pdf" %}
			                <a href="{{ media.fichier.url }}" target = "_blank"> <span class="glyphicon glyphicon-file"></span>{{ media.nom|capfirst }}</a>
						{% endif %}
					{% endfor %}
			</div>
		</div>
	</div>
{%endblock contenu %}